# Environment Variables
.env

# mounted volume
sites

development/*
!development/README.md
!development/installer.py
!development/apps-example.json
!development/vscode-example/

# Pycharm
.idea

# VS Code
.vscode/**
!.vscode/extensions.json

# VS Code devcontainer
.devcontainer
*.code-workspace

# Python
*.pyc
__pycache__
venv

# NodeJS
node_modules

# Production environment files
production/**/*.env
production/generated-compose.yaml
production/logs/
production/backups/
production/production.yaml*
production/traefik.env.*
