name: Lint

on:
  push:
    branches:
      - main
    paths:
      - "*.sh"
  pull_request:
    branches:
      - main
    paths:
      - "*.sh"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ludeeus/action-shellcheck@1.1.0
        env:
          SHELLCHECK_OPTS: -x
